In [208]:
import pandas as pd
import requests
import json
import datetime as dt
import sys
import ast
from meta_pull import basic_insights

In [195]:
df = basic_insights()

In [246]:
df2 = pd.DataFrame(df)
df2 = df2.rename(columns={
    'timestamp': 'media_timestamp'
    , 'id': 'media_id'
})
df3 = pd.json_normalize(df2['comments'])
df4 = df2[['media_id', 'media_timestamp']].join(df3)
# df2 = pd.DataFrame(df2['data'])
print(df2)
# df4.head(5)
# df4.to_excel('sample.xlsx')

            media_id           media_timestamp  \
0  18037580198311360  2024-08-12T20:52:08+0000

                                            comments
0  {'data': [{'timestamp': '2024-09-02T22:23:29+0...

In [247]:
# Explode the 'data' list so that each entry in the 'data' list becomes a separate row
df4 = df4.explode('data').reset_index(drop=True)

# Further normalize the 'data' column to separate 'timestamp' and 'text' fields
df_normalized = pd.concat([df4[['media_id', 'media_timestamp',]], pd.json_normalize(df4['data'])], axis=1)

# Rename the columns for clarity and avoid confusion with the original 'timestamp' and 'id'
df_normalized = df_normalized.rename(columns={
                                'timestamp': 'comment_timestamp'
                                ,'text': 'comment_text'
                                ,'id': 'comment_id'
                                    })

# Display the first few rows of the updated dataframe
df_normalized.head()

,media_id,media_timestamp,comment_timestamp,comment_text,comment_id
0,18037580198311360,2024-08-12T20:52:08+0000,2024-09-02T22:23:29+0000,Ade is so greattttt,17961306695798980
1,18037580198311360,2024-08-12T20:52:08+0000,2024-09-02T22:22:39+0000,this is not hate speech,17921669645959576
2,18037580198311360,2024-08-12T20:52:08+0000,2024-08-27T20:41:30+0000,Second troll,18019382825524242
3,18037580198311360,2024-08-12T20:52:08+0000,2024-08-27T20:40:53+0000,first troll,18060789808630326